@use "../components/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#root {
  display: grid;
  grid-template: 5rem 1fr 5rem / 1fr;
  gap: 1rem;
  background-color: v.$background-color;
  color: v.$text-color;
  max-width: 1000px;
  min-width: 50vw;
  width: 100%;
  font-family: v.$primary-font;
  border-radius: 2rem;
  padding: 2.5rem;
  height: calc(100vh - 4rem);
  box-shadow: 12px 16px 0 v.$secondary-color;
  overflow: hidden;
}
html {
  background-color: white;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  //display: none;
}
