@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap");

$primary-color: #1e90ff; /* Dodger Blue */
$secondary-color: #2ecc71; /* Emerald Green */
$accent-color: #ff8c00; /* Dark Orange */

$background-color: #121212; /* Very Dark Gray */
$text-color: #e0e0e0; /* Light Gray */

$primary-font: "Roboto", sans-serif;
$secondary-font: "Merriweather", serif;
